<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.arnowelzel.android.periodical"
      android:versionCode="15"
      android:versionName="0.15"
      android:installLocation="auto">
          
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
		android:label="@string/app_name"
		android:icon="@drawable/periodical"
		android:allowBackup="true">
		
        <activity android:name=".MainActivity" android:label="@string/app_name"
			android:icon="@drawable/periodical">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ListActivity" android:label="@string/app_name">
        </activity>
		
        <activity android:name=".OptionsActivity" android:label="@string/page_options"/>

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIC54Akxjv9DZ71SEaObLVvtC_2t4sBM0GPgC8Fg" />
    </application>
</manifest> 
